:root {
  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --container-max-width-desktop: 1280px;
  --container-padding-desktop: 32px;
  --spacing-lg: 12px;
  --radius-2xl: 16px;
  --primary: #00c1ba;
  --bg-primary: #0c111d;
  --bg-secondary: #161b26;
  --placeholder: #85888e;
  --text-primary-900: #f5f5f6;
  --text-secondary-700: #cecfd2;
  --tertiary-600: #94969c;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 150%;
  font-weight: 400;
  font-size: 16px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
