:root {
  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101323;
  --container-max-width-desktop: 1280px;
  --container-padding-desktop: 32px;
  --spacing-lg: 12px;
  --radius-2xl: 16px;
  --primary: #00c1ba;
  --bg-primary: #0c111d;
  --bg-secondary: #161b26;
  --placeholder: #85888e;
  --text-primary-900: #f5f5f6;
  --text-secondary-700: #cecfd2;
  --tertiary-600: #94969c;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 150%;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  transition: all 0.25s ease-in-out;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Override the yellow autofill background */
  -webkit-box-shadow: 0 0 0px 1000px #0c111d inset !important;
  box-shadow: 0 0 0px 1000px #0c111d inset !important;
  -webkit-text-fill-color: #fff !important;

  /* Optional: smooth transition to avoid flash */
  transition: background-color 5000s ease-in-out 0s;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

.Toastify__toast-icon {
  width: 38px;
}

.Toastify__toast-theme--dark {
  border-radius: var(--radius-xl, 12px);
  border: 1px solid var(--Colors-Border-border-primary, #333741);
  background: var(--Colors-Background-bg-primary_alt, #161b26);
  padding: 7px var(--spacing-xl, 16px) 7px 7px;
  /* Shadows/shadow-lg */
  box-shadow: 0 12px 16px -4px var(--Colors-Effects-Shadows-shadow-lg_01, rgba(255, 255, 255, 0)),
    0 4px 6px -2px var(--Colors-Effects-Shadows-shadow-lg_02, rgba(255, 255, 255, 0));

  /* Text sm/Semibold */
  font-family: var(--Font-family-font-family-body, Inter);
  font-size: var(--Font-size-text-sm, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}

.Toastify__toast--success {
  color: var(--colors-foreground-fg-primary-900, #fff);
}
